{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotisería</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Rotisería</h1>
        <nav>
            <ul>
                <li><a href="">Promo</a></li>
                <li><a href="">Carrito</a></li>
                <li><a href="">Disponible</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block contenido %}
        <!-- Contenido específico de cada página -->
        {% endblock contenido %}
    </main>
    <footer>
        <p>intagram</p>
        <p>wasap</p>
        <p>direcion</p>
        <p>&copy; 2024 Rotisería. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
