{% extends "base.html" %}

{% load static %}

{% block contenido %}

<!--hamburgesas-->
<section>
    <a href="#"> 
        <h2>Homburgeza</h2>
        <img src="" alt="">
    </a>
</section>

<!--lomito-->
<section>
    <a href="#"> 
       <h2>Lomito</h2>
       <img src="" alt="">
    </a>
</section>

<!--pizza-->
<section>
    <a href="#">
        <h2>Pizza</h2>
        <img src="" alt="">
    </a>
</section>

<!--sanwiche-->
<section>
    <a href="#">
        <h2>Sanwiche</h2>
        <img src="" alt="">
    </a>
</section>

<!--papa frita-->
<section>
    <a href="#">
        <h2>Papa Frita</h2>
        <img src="" alt="">
    </a>
</section>

<!--promociones-->
<section>
    <!--hacer una apps promociones-->
    <h2>Promociones</h2>
 
</section>

{% endblock contenido %}
