{% extends "base.html" %}

{% load static %}

{% block contenido %}

{% for categoria, productos in productos_por_categoria.items %}
<section class="productos mb-4">
    <!-- Usamos la imagen y el título como botón -->
    <button onclick="toggleSubmenu('{{ categoria }}')" class="btn btn-link" style="background: none; border: none; cursor: pointer; width: 100%; display: contents;">
        {% for categoria_img, imagen in imagenes_categorias %}
            {% if categoria == categoria_img %}
            <div class="d-flex justify-content-center align-items-center" style="background-image: url('{{ imagen }}'); background-size: cover; background-position: center; height: 150px; width: 100%;">
                <h2 class="catalogo text-white">{{ categoria }}</h2>
            </div>
            
            
            {% endif %}
        {% endfor %}
    </button>

    <ul id="submenu-{{ categoria }}" class="list-unstyled" style="display: none;">
        {% for producto in productos %}
        <li class="lista mb-3">
            <div class="comida card">
                <img src="{{ producto.imagen.url }}" class="platos card-img-top" alt="{{ producto.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p class="card-text"><strong>Precio: ${{ producto.precio }}</strong></p>
                    <!-- Enlace al formulario de cantidad -->
                    <a href="{% url 'carrito:agregar_producto' producto.id %}" class="btn btn-primary">Pedir</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
{% endfor %}

<script>
function toggleSubmenu(categoria) {
    const submenu = document.getElementById(`submenu-${categoria}`);
    if (submenu.style.display === 'none') {
        submenu.style.display = 'block';
    } else {
        submenu.style.display = 'none';
    }
}
</script>

{% endblock contenido %}
