{% extends "base.html" %}

{% load static %}

{% block contenido %}

{% for categoria, productos in productos_por_categoria.items %}
<section class="mb-4">
    <!-- Usamos la imagen y el título como botón -->
    <button onclick="toggleSubmenu('{{ categoria }}')" class="btn btn-link" style="background: none; border: none; cursor: pointer;">
        {% for categoria_img, imagen in imagenes_categorias %}
            {% if categoria == categoria_img %}
            <div class="d-flex align-items-center">
                <img src="{{ imagen }}" alt="{{ categoria }}" class="img-thumbnail" style="max-width: 150px; height: 150px;">
                <h2 class="ms-3">{{ categoria }}</h2>
            </div>
            {% endif %}
        {% endfor %}
    </button>

    <ul id="submenu-{{ categoria }}" class="list-unstyled" style="display: none;">
        {% for producto in productos %}
        <li class="mb-3">
            <div class="card" style="width: 18rem;">
                <img src="{{ producto.imagen.url }}" class="card-img-top" alt="{{ producto.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p class="card-text"><strong>Precio: ${{ producto.precio }}</strong></p>
                    <!-- Enlace al formulario de cantidad -->
                    <a href="{% url 'carrito:agregar_producto' producto.id %}" class="btn btn-primary">Pedir</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
{% endfor %}

<script>
function toggleSubmenu(categoria) {
    const submenu = document.getElementById(`submenu-${categoria}`);
    if (submenu.style.display === 'none') {
        submenu.style.display = 'block';
    } else {
        submenu.style.display = 'none';
    }
}
</script>

{% endblock contenido %}
