{% extends 'admin/base_site.html' %}

{% block content %}
    <h1>Estadísticas de Ventas</h1>

    <h2>Ventas Semanales (del {{ fecha_actual|date:"Y-m-d" }} hacia atrás)</h2>
    <div id="grafico-semanal"></div> <!-- Contenedor del gráfico semanal -->
    {% if ventas_semanales %}
        <table class="table">
            <thead>
                <tr>
                    <th>Rango de Fecha</th>
                    <th>Total Ventas</th>
                </tr>
            </thead>
            <tbody>
                {% for estadistica in ventas_semanales %}
                    <tr>
                        <td>{{ estadistica.fecha_inicio }} - {{ estadistica.fecha_fin }}</td>
                        <td>${{ estadistica.total_ventas }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay ventas registradas esta semana.</p>
    {% endif %}

    <h2>Ventas Mensuales (de este mes)</h2>
    <div id="grafico-mensual"></div> <!-- Contenedor del gráfico mensual -->
    {% if ventas_mensuales %}
        <table class="table">
            <thead>
                <tr>
                    <th>Rango de Fecha</th>
                    <th>Total Ventas</th>
                </tr>
            </thead>
            <tbody>
                {% for estadistica in ventas_mensuales %}
                    <tr>
                        <td>{{ estadistica.fecha_inicio }} - {{ estadistica.fecha_fin }}</td>
                        <td>${{ estadistica.total_ventas }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay ventas registradas este mes.</p>
    {% endif %}

    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        // Datos para el gráfico semanal
        var datosSemanales = JSON.parse('{{ datos_semanales|escapejs }}');
        var graficoSemanal = {
            x: datosSemanales.fechas,
            y: datosSemanales.ventas,
            type: 'bar',
            marker: { color: 'blue' }
        };
        Plotly.newPlot('grafico-semanal', [graficoSemanal]);
    
        // Datos para el gráfico mensual
        var datosMensuales = JSON.parse('{{ datos_mensuales|escapejs }}');
        var graficoMensual = {
            x: datosMensuales.fechas,
            y: datosMensuales.ventas,
            type: 'bar',
            marker: { color: 'green' }
        };
        Plotly.newPlot('grafico-mensual', [graficoMensual]);
    </script>
    
{% endblock %}
